/target
/server/target
/client/target
/charter/target

# Ignore Songs for copyright reasons
/server/assets/songs/*.mp3
/server/assets/songs/*wav
/server/assets/songs/*.json
/server/assets/charts/*.json